{% extends 'myadmin/common/layout.html' %}
{% block content %}

        <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
          <h4 class="fw-bold py-3 mb-4">Location</h4>
              <div class="card">
                <h5 class="card-header"><a href="/myadmin/view_location" class="text-dark">⇦ Back</a> </h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>City</th>
                      </tr>
                    </thead>
                    <!-- <tbody class="table-border-bottom-0"> -->
                      {% for row in result1 %}
                      <tr>
                        <td><strong>{{row.id}}</strong></td>
                        <td>{{row.cities}}</td>
                      </tr>
                      {% endfor %}

                     
                  </table>
                </div>
              </div>
            </div>
          </div>


{% endblock %}