{% extends 'myadmin/common/layout.html' %}
{% block content %}

        <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
          <h4 class="fw-bold py-3 mb-4">AGENCY</h4>
              <div class="card">
                <h5 class="card-header">All Agency</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
      <tbody class="table-border-bottom-0">
        <tr class="active">
          <th scope="row">id</th>
          <td>{{result.id}}</td>
        </tr>
        <tr>
          <th scope="row">Name</th>
          <td>{{result.agency_name}}</td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td>{{result.user.email}}</td>
        </tr>
        <tr>
          <th scope="row">Contact</th>
          <td>{{result.contact}}</td>
        </tr>
        <tr>
          <th scope="row">Owner Name</th>
          <td>{{result.user.first_name}}  {{result.user.last_name}}</td>
        </tr>
        <tr>
          <th scope="row">Established Date</th>
          <td>{{result.establish_date}}</td>
        </tr>
        <tr>
          <th scope="row">Address</th>
          <td>{{result.address}}</td>
        </tr>
        <tr>
          <th scope="row">City</th>
          <td>{{result.city}}</td>
        </tr>
        <tr>
          <th scope="row">State</th>
          <td>{{result.state}}</td>
        </tr>
        <tr>
          <th scope="row">Request Date</th>
          <td>{{result.req_date}}</td>
        </tr>
        <tr>
          <th scope="row">Status</th>
          <td>{{result.status}}</td>
        </tr>
        <tr>
          <th scope="row">Username</th>
          <td>{{result.user.username}}</td>
        </tr>
        
      </tbody>
    </table>
   </div>
 </div>
</div>
</div>


{% endblock %}